<table class="table table-bordered">
    <thead class="thead-dark">
        <th>ID</th>
        <th>TITLE</th>
        <th>DURATION</th>
        <th>DURATION-UNIT</th>
        <th>DESCRIPTION</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </thead>
    <tbody>
        <tr *ngFor="let Course of Courses" (click)="selectCourse(Course)">
            <td>
                {{Course.id}}
            </td>
            <td>
                {{Course.title}}</td>
            <td>
                {{Course.duration}}</td>
            <td>
                {{Course["duration-unit"]}}</td>
            <td>
                {{Course.description}}
            </td>
            <td>
                <button class="btn btn-primary" title="edit Course" (click)="edit(Course)">Edit</button>
            </td>
            <td><button class="btn btn-danger" title="delete Course" (click)="delete(Course)">Delete</button></td>
        </tr>

    </tbody>
</table>


<button class="btn btn-primary" (click)="addCourse()">
    Add Course
</button>